@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Lugrasimo&display=swap');

/* Slightly nicer reading width */
.content-narrow {
  max-width: 860px;
}

/* Simple “encyclopedia” vibe */
.page-title {
  letter-spacing: 0.2px;
}

.navbar-brand{
  font-family: "Cormorant", serif;
  font-size: 30px;
}

.subtxt1{
  font-family: "Cormorant", serif;
  font-size: 20px;
}

.subtxt2{
  font-family: "Cinzel", serif;
}


.p{
  font-family: "Times New Roman", serif;
}
