<footer class="border-top bg-body">
<div class="footer text-center mt-5">
  <p class="mb-5 pb-5 ftrtxt"><span class="subtxt1">Basāʾir</span><span> x </span><a href="https://www.sameerion.com" style="text-decoration: none;"><span class="subtxt2">Sameerion</span></a></p>
  <p>Copyright &copy; <span id="cprtxt" style="font-family: Arial, sans-serif;"></span> <span class="subtxt1">Basāʾir</span>. All rights reserved.</p>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const currentYear = new Date().getFullYear();
    const copyrightYearElement = document.getElementById("cprtxt");
    
    if (copyrightYearElement) {
      copyrightYearElement.textContent = currentYear;
    }
  });
</script>
</footer>
